@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.App {
  height: 100vh;
  padding-top: 10px;
  background-color: #0D0D0D;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


.contenedor-calculadora{
  width: 400px;
  height: 700px;
  padding: 14px;
  background-color: #0D0D0D;
  border-radius: 20px;
  border: 5px solid white;
}
.fila{
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  text-align: center; /* Centra el texto horizontalmente */
  color: white; /* Establece el color del texto en blanco */
  font-family: 'Ubuntu', sans-serif;
}
.marca{
  display: flex; /* Añadido para que los elementos se alineen en una fila */
  align-items: center;
  justify-content: center;
}

.gs-logo-contenedor {
  width: 50px; /* Ancho cuadrado deseado */
  height: 50px; /* Mismo alto que el ancho para hacerlo cuadrado */
  margin: 8px;
  display: flex;
  
}

.gs-logo {
  max-height: 100%; /* Hace que la imagen se ajuste al alto del contenedor */
}